.elements {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 6em;
    margin-right: 6em;
    @media (max-width: 1440px) {
        margin-left: 6em;
        margin-right: 6em;
    }
    @media (max-width: 1024px) {
        margin-left: 4em;
        margin-right: 4em;
    }
    @media (max-width: 768px) {
        margin-left: 3em;
        margin-right: 3em;
    }

    @media (max-width: 425px) {
        margin-left: 0.4em;
        margin-right: 0.4em;
    }

    @media (max-width: 375px) {
        margin-left: 0.4em;
        margin-right: 0.4em;
    }

    @media (max-width: 320px) {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
}